body{
	background-color: #80c3ff;
}

table, th, td{
	border: 1px solid;
	width: 100%;
	table-layout: fixed;
}

/* INDEX PAGE*/

h1{
	font-size: 35px;
	text-align: center;
}

img.index{
	width: 500px;
	height: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p.center{
	text-align: center;
}

p.left{
	text-align: left;
}

h2.index{
	text-align: center;
}

/* INTERESTS PAGE*/

img.interest{
	 width: 400px;
	 height: 438px;
	 display: block;
	 margin-left: auto;
	 margin-right: auto;"
}

img.interest2{
	 width: 500px;
	 height: 300px;
	 display: block;
	 margin-left: auto;
	 margin-right: auto;"
}

/* SCHEDULE PAGE*/

table.sched, td.sched{
	border: 1px solid;
	width: 100%;
	table-layout: fixed;
	text-align: center;
}

img.sched1{
	width: 200px;
	height: 112px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.space{
	white-space: pre;
}

/* FAVOURITE PAGE*/

h2.favourite{
	text-align: center;
}

img.fav{
	width: 500px;
	height: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* IMAGE MAP */

img.map{
	width: 1000px;
	height: 871px;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

/* MY PROJECTS */

img.proj1{
	width: 600px;
	height: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;		
}

img.proj2{
	width: 250px;
	height: 350px;
	display: block;
	margin-left: auto;
	margin-right: auto;		
}

img.proj3{
	width: 400px;
	height: 438px;
	display: block;
	margin-left: auto;
	margin-right: auto;		
}

/* MY FAVOURITE FOODS */

img.food{
	width: 600px;
	height: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;		
}

/* FEEDBACK */
div.center{
	text-align: center;
}

img.feedback{
	width: 600px;
	height: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;		
}
}


/* CITATIONS */

